/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////All///////////////////////////////////////////////////////////////////////// */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --bg-color: #1f1f21;
    --text-color: #fff;
    --main-color: #ffae00;

    --big-font: 4rem;
    --p-font: 1.1re;
}

body {
    background-image: url(img/dark-honeycomb.png);
    background-size: 350px;
    /* background-size: 400px; */
    
    color: var(--text-color);
    /* overflow-x: hidden; */
    scroll-behavior: smooth;

}


h3{
    color: var(--main-color);
    position: relative;
    font-weight: 400;
    font-size: xx-large;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}

h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffae00;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

h3:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

/* .about-me, .my-knowledge, .My-projects, .Contact-me{
    min-height: 110vh; 
    

} */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////First page///////////////////////////////////////////////////////////////////////// */


.first-page{
    width: 100%;
    height: 100vh;
}

header{
    /* position: fixed; ----- if i want it to stay when scroling */
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;

}

.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;

}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 20px;
    transition: all ease .50s;
}

.navbar li a{
    font-size: 15px;
}
.navbar #switch{
    color: var(--main-color);
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 3px 6px;
    border-radius: 100px;
    cursor: pointer;
    transition: all ease .50s;
}

.navbar #switch:hover{
    border-color: var(--main-color);
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.menu-btn{
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

section{
    padding: 0 15%;
}

.home{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 30px; */
}


.home-img{
    width: 60%;
    height: 60%;
    object-fit: contain;
    animation: img 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

.home-img img{
    border-radius: 40%;
    width: 300px;
    height: auto;
    margin-left: 100px;
    
}

@keyframes img{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px)
    }

    100%{
        transform: translateY(0)
    }
}

.home-text span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    /* text-transform: uppercase; */
}

.home-text h1{
    font-size: 70px;
    margin: 23px 0;
}


.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover{
    transform: translateY(-px);
    background: transparent;
    color: var(--main-color);
}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.scroll-button::before {
    content: '\2191'; /* Unicode arrow-up character */
    font-size: 24px;
    color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-button:hover {
    background-color: var(--bg-color);
    border: solid 3px var(--main-color);
}

.scroll-button:hover::before {
    color: var(--main-color);
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////second page about me///////////////////////////////////////////////////////////////////////// */


.about-me{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    padding: 32px 15%;    
}

.about-me .inside{
    display: flex;
    align-items: center;
}

.about-me .inside .info h1 {
    position: relative;
    color: #ffae00;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 20px;
}

.about-me .inside .info h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffae00;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.about-me .inside .info h1:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.about-me h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-me img {
    width: 400px;
    height: auto;
    border-radius: 20px;

    animation: aboutMeAnimation 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

@keyframes aboutMeAnimation {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(-20px) rotate(5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.info {
    margin-left: 60px; 
    text-align: center;
}

.container{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--main-color);
    text-align: start;
    width: 350px;
    margin: 0 auto;
}

.container li {
    margin-top: 10px;
    /* font-size: 10px; */
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////therd page my knowledge///////////////////////////////////////////////////////////////////////// */



.my-knowledge {
    margin-top: 100px;
    /* margin-bottom: 200px; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; /* Center content horizontally */
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center text */
    padding: 32px 15%;
}
.my-knowledge h3{
    margin: 30px 0px;
}
.grid-container {
    display: flex;
    list-style: none;
    gap: 30px;
    flex-direction: row;
    position: relative;
}

.grid-container ul{
    position: relative;
    /* overflow: hidden;  */

}
.grid-container li {
    display: flex; 
    flex-direction: column;
    position: relative;
}

.grid-container img {
    display: block;
    width: auto;
    height: 80px; /* Maintain aspect ratio */
    transition: transform 0.3s ease;
}

.grid-container p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    opacity: 0;
    font-size: 15px;
    padding: 0px 15px;
    text-align: center;
    margin: 0;
    border-radius: 5px;
}

.grid-container ul:hover p {
    opacity: 1;
    bottom: -10px;
}

.grid-container ul:hover img {
    transform: translateY(-10px); 
}

.certification{
    display: flex;
    text-align: center;
    justify-content: center;
}

.certification img{
    width: auto;
    height: 200px;
    margin: 20px;
}

.certification img:hover{
    width: auto;
    height: 210px;
    margin: 10px 17px;
}

  .my-knowledge p {
    margin-top: 10px;
    text-align: center;
    color: var(--main-color);
    line-height: 1.5;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////foorth page my prosjekt///////////////////////////////////////////////////////////////////////// */



.My-projects {
    
    width: 100%;
    height: 100vh;
    padding: 32px 15%;
    margin-top: 100px;
}


.My-projects .headline{
    display: flex;
    align-items: center;
    justify-content: center;

}

.My-projects h5 {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    margin: 10px 25px;
    transition: all ease .50s;
}

.My-projects h5:hover {
    color: var(--main-color);
}

.My-projects img {
    width: 300px;
    border-radius: 10px;
    display: block;

    box-shadow: 1px 1px 5px var(--main-color);
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto auto;
    /* background-color: #3b3b3b; */
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my-projects-container div {
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.my-projects-container a {
    position: relative;
}

.my-projects-container button{
    margin-top: 10px;
    width: 80px;
    display: inline-block;
    padding: 8px 3px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 10px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.my-projects-container button:hover{
    transform: translateY(-px);
    background: transparent;
    color: var(--main-color);
}

.my-projects-container p {
    position: absolute; 
    top: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.my-projects-container a:hover p {
    opacity: 1;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////fift page contact me///////////////////////////////////////////////////////////////////////// */



.Contact-me {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 32px 15%;
    margin-top: 100px;

}
.cm{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.cm .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 330px;
    width: 400px;

}

.cm .text h2{
margin-bottom: 50px;
}

.cm a {
    color: var(--main-color);
}

.cm .box {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(93, 91, 91);
    padding: 20px 10px;
    border-radius: 10px;
}

.box h2{
    margin-bottom: 20px;
    font-size: large;
}














.box input,
.box textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #191919;
    color: var(--main-color);
    outline: none;
    resize: none;
    /* transition-duration: 0.4s; */
    border: 1px solid black;
    /* transition: all 0.3s ease-in-out; */
}

.box input:hover, .box textarea:hover{
    border: 1px solid var(--main-color);
}








#submitButton {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #191919;
    color: var(--main-color);
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#submitButton:hover {
    background-color: var(--main-color);
    color: black;
    /* border: 1px solid var(--main-color); */
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////@ media///////////////////////////////////////////////////////////////////////// */


@media (min-width: 1500px) {
    body{
        max-width:1500px;
        margin: 0 auto;
    }
    
}



@media (max-width: 1400px){
    .navbar li a{
        font-size: 14px;
    }
}

@media (max-width: 1200px){
    .navbar li a{
        font-size: 12px;
    }
}

@media (max-width: 1100px){
    .navbar li a{
        font-size: 9px;
    }
    .cm .text {
        font-size: 10px;
        /* width: 250px; */
    }
}

@media (max-width: 1000px){

    /* all */
.about-me, .my-knowledge, .certification, .My-projects, .Contact-me{
    /* padding: 32px 10%; */
    

}

h3{
    font-size: x-large;
}

/* 1 */
    .navbar li a{
        margin: 0 15px;
        font-size: 12px;
    }

    .logo{
        font-size: 20px;
    }

    :root {
        --big-font: 3rem;
        --p-font: 0.8rem;
        transition: .2s;
      }
      .btn{
        padding: 10px 30px;
    }
    .home-img img{
        height: 300px;
        width: auto;
    }

    .home-text h1{
        font-size: 60px;
        margin: 23px 0;
    }

/* 2 */
/* .about-me{
    height: 30vh;
    margin-top: 200px;
} */

.about-me .inside{
    display: flex;
    align-items: center;
}


.about-me h2{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-me img {
    width: 300px;
    height: auto;
}

.container li {
    font-size: small;
}



/* 3 */
.my-knowledge{
    /* margin-top: 400px; */
}


.grid-container {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    position: relative;
}


.grid-container img {
    display: block;
    width: auto;
    height: 70px;
}

.grid-container p {
    font-size: 15px;
}


.certification img{
    width: auto;
    height: 200px;
    margin: 20px;
}

.certification img:hover{
    width: auto;
    height: 210px;
    margin: 10px 17px;
}



  .my-knowledge p {
    margin-top: 10px;
    font-size: 12px;
}


/* 4 */

/* .My-projects{
    margin-bottom: 100px;
} */
.My-projects h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 25px;
}

.My-projects img {
    width: 250px;
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.my-projects-container div {
    align-items: center;
    width: 250px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.my-projects-container button{
    margin-top: 10px;
    width: 60px;
    padding: 6px 3px;
    font-size: 10px;
    font-weight: 600;
}


.my-projects-container p {
    color: white;
    font-size: 12px;
    padding: 10px;
}




/* 5 */
.Contact-me {
    display: flex;
    align-items: center;     
    justify-content: center; 
    height: 100vh;           
    width: 100vw;       
    /* overflow: auto;       */
}

.cm .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin-bottom: 300px;
    
}

.cm .text h2{
margin-bottom: 50px;
}

/* .cm .text{
    margin-right: 20px;
} */


/* .cm .box {
    margin-left: 150px;
    margin-bottom: 270px;
} */
.box h2{
    margin-bottom: 15px;
    font-size: medium;
}


.box input,
.box textarea {
    width: 100%;
    padding: 10px;
    outline: none;

}
  }

@media (max-width: 950px){
    
    section{
        padding: 70px 4%;
    }
    header{
        padding: 10px 5%;
        background: #2d2d2d;
    }
    .home{
        height: auto;
        /* display: flex; */
        flex-wrap: wrap;
    }
    .home-text{
        order: 2;
    }

    /* .about-me{
        height: 1vh;
    } */

}

@media (max-width: 800px){
    .navbar{
        margin: 0 5px;

    }

    
.scroll-button {
    width: 30px;
    height: 30px;
}

.scroll-button:hover {
    border: solid 2px var(--main-color);
}



        /* all */
.about-me, .my-knowledge, .certification, .My-projects, .Contact-me{
    padding: 32px 8%;
    

}

h3{
    font-size: x-large;
}

/* 1 */

.navbar a{
    margin: 0 15px;
}

.logo{
    font-size: 20px;
}

   
.first-page {
    align-items: center;
    text-align: center;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .home img {
    height: 250px;
    align-self: center;
    margin: 0; /* Reset margin */
  }

  .home-text {
    margin-top: 20px;

  .home-text h1 {
    margin: 15px 0;
  }

  .home-text p {
    margin-bottom: 20px;
  }
  .first-page {
    align-items: center;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navbar a {
    margin: 10px 0;
  }

  .home {
    flex-direction: column;
    text-align: center;
    align-items: center; /* Center the content */
  }

  .home img {
    height: 250px;
    margin: 0; /* Reset margin */
  }

  .home-text {
    margin-top: 20px;
    text-align: center; /* Center the text */
  }

  .home-text h1 {
    font-size: var(--big-font);
    margin: 15px 0;
  }

  .home-text p {
    margin-bottom: 20px;
  }
}

/* 2 */
/* .about-me{
    margin-top: 250px;
} */
.about-me .inside{
    display: flex;
    align-items: center;
}


.about-me h2{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-me img {
    width: 250px;
    height: auto;
}

.container li {
    font-size: small;
}



/* 3 */

.grid-container {
    display: flex;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    position: relative;
}


.grid-container img {
    display: block;
    width: auto;
    height: 60px;
}

.grid-container p {
    font-size: 15px;
}


.certification img{
    width: auto;
    height: 200px;
    margin: 20px;
}

.certification img:hover{
    width: auto;
    height: 210px;
    margin: 10px 17px;
}



  .my-knowledge p {
    margin-top: 10px;
    font-size: 11px;
}


/* 4 */

.My-projects h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 25px;
}

.My-projects img {
    width: 250px;
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.my-projects-container div {
    align-items: center;
    width: 250px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.my-projects-container button{
    margin-top: 10px;
    width: 60px;
    padding: 6px 3px;
    font-size: 10px;
    font-weight: 600;
}


.my-projects-container p {
    color: white;
    font-size: 12px;
    padding: 10px;
}




/* 5 */


.cm .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-size: 10px;
    margin-bottom: 300px;
    width: 300px;
}

.cm .text h2{
margin-bottom: 30px;
}


.cm .box {
    margin-left: 50px;
    margin-bottom: 150px;
}

.box input,
.box textarea {
    padding: 10px;
    outline: none;
}

}

@media (max-width: 700px){


/* 1 */
    .navbar li a{
        margin: 0 8px;
        font-size: 10px;
    }

    .logo{
        font-size: 20px;
    }
}

@media (max-width: 750px){
/* 2 */
.about-me{
    /* margin-top: 300px; */
    align-items: center; 
    justify-content: center;
}

.about-me .inside{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}


.about-me h2{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-me img {
    width: 180px;
    height: auto;
}

.container li {
    font-size: x-small;
}

.container{
    width: 200px;
}

    /* .my-knowledge{
        margin-top: 500px;
    }

    .My-projects{
        margin-top: 50px;
    } */

    }

@media (max-width: 550px){
        
            
        
            .navbar li a{
                margin: 0 10px;
                font-size: 8px;
            }
        
            .logo{
                font-size: 15px;
            } 
}
   
@media (max-width: 650px){
    .navbar a{
        margin: 0 15px;
        font-size: 12px;
    }



    .logo{
        font-size: 20px;
    }
    .navbar a{
        margin: 0 4px;
        font-size: 10px;
    }
    .navbar #switch{
        padding: 1px 3px;
        font-size: 8px;
    }



    .btn{
        padding: 10px 30px;
    }

            /* all */
.about-me, .my-knowledge, .certification, .My-projects, .Contact-me{
    padding: 32px 5%;
    

}

h3{
    font-size: medium;
}

/* 1 */




/* 3 */
/* .my-knowledge{
    margin-top: 380px;
} */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    position: relative;
}


.grid-container img {
    display: block;
    width: auto;
    height: 50px;
}

.grid-container p {
    font-size: 15px;
}


.certification img{
    width: auto;
    height: 180px;
    margin: 15px;
}

.certification img:hover{
    width: auto;
    height: 190px;
    margin: 3px 12px;
}




  .my-knowledge p {
    margin-top: 10px;
    font-size: 8px;
}


/* 4 */

/* .My-projects{
    margin-bottom: 0px;
} */
.My-projects h5 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 25px;
}

.My-projects img {
    width: 200px;
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.my-projects-container div {
    align-items: center;
    width: 250px;
    height: 150px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.my-projects-container button{
    margin-top: 10px;
    width: 50px;
    padding: 4px 1px;
    font-size: 8px;
    font-weight: 600;
}


.my-projects-container p {
    color: white;
    font-size: 10px;
    padding: 10px;
}




.Contact-me {
    display: flex;
    align-items: center;     
    justify-content: center; 
    /* height: 60vh;           */
    width: 100vw;     
    overflow: auto;   
    margin-top: 0;       /* Set top margin to 0 */
    padding-top: 0;     
}



.cm {
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}



.cm .text {
    font-size: 12px;
    margin-bottom: 0px;
    width: 300px;
}

.cm .text h2{
margin-bottom: 20px;
}


.cm .box {
    /* padding: 1em; */
    max-width: 500px;
    margin: 0 auto;
}

.box h2{
    margin-bottom: 10px;
    font-size: 12px;
}


.box input,
.box textarea {
    width: 80%;
    padding: 10px;
    outline: none;
}

#submitButton {
    width: 80%;
}

}

@media (max-width: 500px){

                /* all */
.about-me, .my-knowledge, .certification, .My-projects, .Contact-me{
    padding: 32px 5%;
}

.logo{
    font-size: small;
}

    .navbar li a{
        margin: 0px 6px;
        font-size: 7px;
    }

    

    .scroll-button {
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 20px;
        height: 20px;
    }

    .scroll-button::before {
        top: 40%;
    }
    


h3{
    font-size: medium;
}

.about-me h2{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-me img {
    width: 180px;
    height: auto;
}

.container li {
    font-size: x-small;
}

.container{
    width: 200px;
}



/* 3 */
.my-knowledge{
    /* margin-top: 480px; */
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    list-style: none;
    gap: 20px;
    flex-direction: row;
    position: relative;
}


.grid-container img {
    display: block;
    width: auto;
    height: 50px;
}

.grid-container p {
    font-size: 15px;
}


.certification img{
    width: auto;
    height: 180px;
    margin: 15px;
}

.certification img:hover{
    width: auto;
    height: 190px;
    margin: 3px 12px;
}




  .my-knowledge p {
    margin-top: 10px;
    font-size: 8px;
}


/* 4 */

.My-projects h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 25px;
}

.My-projects img {
    width: 180px;
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
}

.my-projects-container div {
    align-items: center;
    width: 200px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.my-projects-container button{
    margin-top: 10px;
    width: 50px;
    padding: 4px 1px;
    font-size: 8px;
    font-weight: 600;
}


.my-projects-container p {
    color: white;
    font-size: 10px;
    padding: 10px;
}




.cm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
}



@media (max-width: 400px){


    .navbar li a{
        margin: 0 3px;
        font-size: 6px;
    }


    .navbar #switch{
        padding: 1px 3px;
        font-size: 8px;
    }


/* 1 */

    
/* 2 */




/* 3 */
.grid-container p {
    font-size: 10px;
}



.certification img{
    width: auto;
    height: 120px;
    margin: 15px;
}

.certification img:hover{
    width: auto;
    height: 130px;
    margin: 3px 12.5px;
}


/* 4 */


.My-projects img {
    width: 130px;
}

.my-projects-container {
    display: grid;
    height: 550px;
    grid-template-columns: auto auto;
    padding: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.my-projects-container div {
    align-items: center;
    width: 120px;
    height: 100px;
    font-size: 30px;
}





.cm .text {
    font-size: 8px;
    margin-left: 60px;
}


#submitButton {
    width: 80%;
}

}

/* i have to change the height on on all main. eks 100vh goes to 0 or 10, maybe - */

/* @media screen and (max-height: 1100px) {
    .first-page, .about-me, .my-knowledge, .My-projects {
        margin-bottom: 00px;
    }  
} */

@media screen and (max-height: 700px) {
    /* .first-page, .about-me, .my-knowledge {
        margin-bottom: 150px;
    } */

    /* .My-projects{ margin-bottom: 50px;} */
}

@media screen and (max-height: 650px) {
    
    .first-page, .about-me, .my-knowledge, .My-projects {margin-bottom: 100px;
    }
}

@media screen and (max-height: 600px) {

    .My-projects{margin-bottom: 250px;}

}


@media screen and (max-height: 580px) {
    .first-page, .about-me, .my-knowledge {margin-bottom: 150px;
    }

    .My-projects{margin-bottom: 250px;}
}

@media screen and (max-height: 520px) {

    .My-projects{margin-bottom: 180px;}

    .Contact-me{ margin-top: 350px;}
}

@media screen and (max-height: 500px) {
    .first-page, .about-me, .my-knowledge, .My-projects {margin-bottom: 300px;
    }
}

@media screen and (max-height: 450px) {

    .Contact-me{ margin-top: 450px;}
}

/* @media screen and (min-height: 800px){
    .first-page, .about-me, .My-projects{margin-bottom: -450px;
    }
} */

@media screen and (max-width: 750px) and (max-height: 570px) {
    .about-me{ margin-top: 400px;}

}

@media screen and (max-width: 750px) and (max-height: 480px) {
    .about-me{ margin-top: 500px;}

}



/* @media screen and (max-width: 1000px) and (min-height: 820px) {
    .Contact-me{ 
        margin-top: 0px;
        height: 200vh;
    
    }

} */
